.fontpage2{
    background:linear-gradient(to bottom,rgb(15, 15, 15),rgb(31, 31, 31),rgb(31, 31, 31),rgb(71, 91, 145));
    background-image: url(PICTUE/AA.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 99vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-direction: row;
}
.fontpage2 .image{
    display: flex;
    width: 40vw;
    height: 80vh;
    background-image: url(PICTUE/trophy.png);
    background-position: center ;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px white,0 0 20px white,0 0 30px white;
    border-radius: 10%;
}
.fontpage2 .content{
    height:auto;
    width: 50vw;
    border: 2px solid transparent;
    display: flex;
    flex-direction: column;
    position: relative;
}
.fontpage2 .information{
    height: 10vh;
    width: 50vw;
    border: 2px solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.fontpage2 .information #font2button{
    height: 80%;
    width: 20%;
    border: 3px solid rgb(250, 250, 250);
    background-color:rgb(196, 154, 104);
    border-radius:30% 0%; 
    color: white;
    font-size: 3vh;
    animation: hover2 0.2s linear; 
}
.fontpage2 .information #font2button:hover{
    background-color: rgb(107, 85, 58);
    cursor: pointer;
    border-radius:0% 0%; 
    animation: hover 0.2s linear; 

}
.fontpage2 .content .vedio{
    width: 100%;
    height: 80%;
    background-color:transparent;

}
.fontpage2 .content .item1{
    height: 20%;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color:transparent;
}
.fontpage2 .content .item1 .text{
    position: relative;
    height: 100%;
    width: 50%;
    background-color:transparent;
    overflow: hidden;
    display: flex;
    justify-content: right;
    align-items: center;
}
.fontpage2 .content .item1 .text .continue{
    position: relative;
    left: 20vw;
    height: auto;
    width: auto;
    background-color: transparent;
    font-size: 10vh;
    display: flex;
    align-items: center;
    left:300%;
    transition: left 0.2s linear;
    
}
.fontpage2 .content .item1 .text .continue img{
    height: 13vh;
    width: 25vw;
    
} 
.fontpage2 .content .item2{
    position: relative;
    height: 80%;
    width: 100%;
    background-color:transparent;
    
}
.fontpage2 .content .item2 .vedioblock{
    width: 74%;
    height: 100%;
    display: flex;
    position: relative;
    left: 12%;
    background-color:transparent;
    overflow: hidden;

}
.fontpage2 .content .item2 .vedioblock  .continue{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    position: relative;
    background-color:transparent;
    left: 0%;
    transition: left 0.2s linear;

}
#fontnextpage{
    display: block;
    position: absolute;
    background-color: transparent;
    border-radius: 50px;
    border-color:transparent;
    width: 10%;
    height: 30%;
    color: rgb(202, 205, 207);
    font-size: 10vh;
    animation: fade3 3s infinite;
    top:35%;
    right: 0;

 }
 #fontnextpage:hover{
    color:black;
    cursor: pointer;
 }
 #fontlastpage{
    display: none;
    position: absolute;
    top:35%;
    left: -1%;
    background-color: transparent;
    border-radius: 50px;
    border-color:transparent;
    width: 10%;
    height: 30%;
    color: rgb(202, 205, 207);
    font-size: 10vh;
    animation: fade4 3s infinite;
 }
 #fontlastpage:hover{
    color:black;
    cursor: pointer;
 }
@keyframes fade4 {
    0%{
        
        transform: translateX(-20px);
    }
    50%{
        
        transform: translateX(0);

    }
    100%{
        
        transform: translateX(-20px);

    }
}
@keyframes hover {
    0%{
        border-radius:30% 0%; 

    }
    100%{
        border-radius:0% 0%; 

    }
    
}@keyframes hover2 {
    0%{
        border-radius:0% 0%; 

    }
    100%{
        border-radius:30% 0%; 

    }
    
}