.fontpage4{
    background:linear-gradient(to bottom,rgb(180, 184, 197),rgb(161, 235, 210),rgb(140, 224, 100));
    background-image: url(PICTUE/BB.png);
    height: 100vh;
    width: 99vw;
    display: flex;
    align-items:end;    
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.font4header{
    border:2px solid transparent;
    width: auto;
    height: auto;
    font-size: 8vh;
    position: absolute;
    left: 57%;
    bottom: 80%;
}
.font4content{
    border:2px solid rgb(10, 10, 10);
    width: 50%;
    height: 70%;
    border-radius: 10%;
    background-color: rgba(199, 198, 197, 0.5);
    position: relative;
    bottom: 10%;
    left: 10%;
    box-shadow: 0 2px 30px rgb(57, 11, 110);
    text-align: center;
    font-size: 3vh;

}
.font4communicate{
    position: absolute;
    overflow: hidden;
    width: auto;
    white-space:nowrap;
    height: auto;
    font-size: 2vw;
    border-right: .05em solid;
    bottom: 80%;
    left: 10%;
    animation-play-state: running;
    animation: type 4s steps(11)  ;
    text-shadow: 0 0 2px white,0 0 4px white,0 0 6px white,0 0 10px white;

}
@keyframes type {
    0%{
        width: 0;

    }
    100%{
        width: 22vw;
    }
    
}
